In [2]:
import pandas as pd

In [3]:
file_path = 'test.csv'
df = pd.read_csv(file_path)

In [4]:
df

,MaxTemp,MinTemp,AvgTemp,AvgHumidity,Precipitation,Radiation,Lodging,PlantHeight,SeedSize,Yield,...,Cluster_30,Cluster_31,Cluster_32,Cluster_33,Cluster_34,Cluster_35,Cluster_36,Cluster_37,Cluster_38,Cluster_39
0,8.30,4.36,5.98,92.55,1.40,5.40,1.0,21.0,18.2,71.5,...,0,0,0,0,0,0,0,0,0,0
1,9.52,4.03,6.87,95.89,2.16,8.35,1.0,21.0,18.2,71.5,...,0,0,0,0,0,0,0,0,0,0
2,8.89,4.01,6.43,93.67,25.43,5.08,1.0,21.0,18.2,71.5,...,0,0,0,0,0,0,0,0,0,0
3,9.16,2.72,5.76,82.53,0.64,6.66,1.0,21.0,18.2,71.5,...,0,0,0,0,0,0,0,0,0,0
4,11.23,4.06,7.54,72.17,0.00,18.43,1.0,21.0,18.2,71.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303277,5.01,-2.79,0.96,52.41,0.00,11.16,1.0,38.0,15.2,62.1,...,0,0,0,0,0,0,0,0,0,0
2303278,10.72,-5.79,1.50,44.10,0.00,14.10,1.0,38.0,15.2,62.1,...,0,0,0,0,0,0,0,0,0,0
2303279,20.00,-0.40,8.29,63.03,0.00,9.51,1.0,38.0,15.2,62.1,...,0,0,0,0,0,0,0,0,0,0
2303280,7.53,-1.88,4.59,52.58,0.00,9.88,1.0,38.0,15.2,62.1,...,0,0,0,0,0,0,0,0,0,0
2303281,2.71,-4.32,-1.06,71.12,0.19,4.33,1.0,38.0,15.2,62.1,...,0,0,0,0,0,0,0,0,0,0